<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/view/client}">
                <img id="logo-img" th:src="@{/img/logo32.png}" alt="fp logo"/>
            </a>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().contains('/client') ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/view/client}">Client</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().contains('/document') ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/view/document}">Document</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().contains('/user') ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/view/user}">User</a>
                        </li>
                        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().contains('/organization') ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/view/organization}">Organization</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>